<%= form_for(some_thing) do |f| %>
  <% if some_thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(some_thing.errors.count, "error") %> prohibited this some_thing from being saved:</h2>

      <ul>
      <% some_thing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :val %>
    <%= f.text_field :val , class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit :booboo, class:"btn btn-default"%>
  </div>
<% end %>
