<p id="notice"><%= notice %></p>

<h1>Some Things</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Val</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @some_things.each do |some_thing| %>
      <tr>
        <td><%= some_thing.val %></td>
        <td><%= link_to 'Show', some_thing , class:"btn btn-xs btn-danger" %></td>
        <td><%= link_to 'Edit', edit_some_thing_path(some_thing) , class:"btn btn-xs btn-danger" %></td>
        <td><%= link_to 'Destroy', some_thing, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Some Thing', new_some_thing_path , class:"btn btn-xs btn-danger" %>
