<%= form_for(winner) do |f| %>
  <% if winner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(winner.errors.count, "error") %> prohibited this winner from being saved:</h2>

      <ul>
      <% winner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name , class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :prize %>
    <%= f.text_field :prize , class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit :create, class:"btn btn-default"%>
  </div>
<% end %>
