<p id="notice"><%= notice %></p>

<h1>Winners</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Prize</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @winners.each do |winner| %>
      <tr>
        <td><%= winner.name %></td>
        <td><%= winner.prize %></td>
        <td><%= link_to 'Show', winner , class:"btn btn-xs btn-danger" %></td>
        <td><%= link_to 'Edit', edit_winner_path(winner) , class:"btn btn-xs btn-danger" %></td>
        <td><%= link_to 'Destroy', winner, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Winner', new_winner_path , class:"btn btn-xs btn-danger" %>
