<p id="notice"><%= notice %></p>

<div class="panel panel-default">

<div class="panel-heading">winner</div>

<div class="panel-body">


<p>
  <strong>Name:</strong>
  <%= @winner.name %>
</p>


<p>
  <strong>Prize:</strong>
  <%= @winner.prize %>
</p>


</div>

<div class="panel-footer">

<%= link_to 'Edit', edit_winner_path(@winner) ,class:"btn btn-xs btn-danger" %> |
<%= link_to 'Back', winners_path , class:"btn btn-xs btn-danger" %>

</div></div>
