<%= form_for(typo) do |f| %>
  <% if typo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(typo.errors.count, "error") %> prohibited this typo from being saved:</h2>

      <ul>
      <% typo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name , class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :stuff %>
    <%= f.text_field :stuff , class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit :create, class:"btn btn-default"%>
  </div>
<% end %>
