<p id="notice"><%= notice %></p>

<h1>Typos</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Stuff</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @typos.each do |typo| %>
      <tr>
        <td><%= typo.name %></td>
        <td><%= typo.stuff %></td>
        <td><%= link_to 'Show', typo , class:"btn btn-xs btn-danger" %></td>
        <td><%= link_to 'Edit', edit_typo_path(typo) , class:"btn btn-xs btn-danger" %></td>
        <td><%= link_to 'Destroy', typo, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Typo', new_typo_path , class:"btn btn-xs btn-danger" %>
