<p id="notice"><%= notice %></p>

<div class="panel panel-primary">

<div class="panel-heading">Typo</div>

<div class="panel-body">


<p>
  <strong>Name:</strong>
  <%= @typo.name %>
</p>


<p>
  <strong>Stuff:</strong>
  <%= @typo.stuff %>
</p>


</div>

<div class="panel-footer">

<%= link_to 'Edit', edit_typo_path(@typo) ,class:"btn btn-xs btn-danger" %> |
<%= link_to 'Back', typos_path , class:"btn btn-xs btn-danger" %>

</div>
</div>
