<p id="notice"><%= notice %></p>

<div class="panel panel-default">

<div class="panel-heading">player</div>

<div class="panel-body">


<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>


<p>
  <strong>Seasons:</strong>
  <%= @player.seasons %>
</p>


</div>

<div class="panel-footer">

<%= link_to 'Edit', edit_player_path(@player) ,class:"btn btn-xs btn-danger" %> |
<%= link_to 'Back', players_path , class:"btn btn-xs btn-danger" %>

</div></div>
